<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="simon.com.user.mapper.UserMapper">

    <insert id="insetUserBsc" parameterType="Map">
    	INSERT 
    	  INTO SIMON.USER_BSC
    	     ( LGN_ID
    	     , EMAIL
    	     , LGN_PW
    	     , REG_ID
    	     ) VALUES
    	     ( #{lgnId}
    	     , #{email}
    	     , #{password}
    	     , #{lgnId}
    	     )
    </insert>

</mapper>